* {
    box-sizing: border-box;
}

:root { /*Définir des variables*/
    --colorborder: #2e425d;
    --colortextgrey: #efe2da;
    --colordore: #5f4c3f;
    --colorgreyblack: #474747;
}

body {
    margin: 0;
    font-family: Arial;
    line-height: 1.5;
}

div.cover {
    background: url(cover_overlay.png) no-repeat center/100% 100%, url(cover.jpg) no-repeat center/cover;
    height: 380px;
    position: relative;
}

img.cover-profile {
    height: 120px;
    /*Centrer l'image*/
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 60px;
}

h1 {
    color: var(--colordore);
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.cover p {
    color: #474747;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

div.cover-contact {
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--colorborder);
    padding-left: 8px;
}

div.cover-contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.cover-contact p:first-child { /*1er enfant <p>*/
    margin-bottom: 14px;
}

div.cover-contact * {
    color: var(--colorgreyblack);
    font-size: 14px;
}

a.contact-button {
    color: var(--colorgreyblack);
    border: 3px solid var(--colorgreyblack);
    padding: 8px 20px;
    text-decoration: none;
    background-color: #aab2c8;
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
}

a.contact-button:hover { /*Si la souris survole le lien*/
    color: #17273e;
    border: 5px solid #17273e;
    font-weight: 900;

}

.section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

div.section-grise1 {
    background: url(triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--colortextgrey);
    padding-bottom: 90px;
}

div.section-grise2 {
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--colortextgrey);
    padding-top: 80px;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

div.separateur {
    background-color: var(--colorborder);
    height: 1px;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
}

div.section-grise1 p {
    font-size: 20px;
    color: var(--colorborder);
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.col40 {
    width: 40%;
}

.col60 {
    width: 60%;
}

.float-right {
    float: right;
}

div.texte-avec-ligne-verticale {
    border-left: 4px solid var(--colorborder);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}

div.texte-avec-ligne-verticale p {
    margin-top: 0;
}

div.barre_verticale {
    height: 50px;
    width: 4px;
    background-color: var(--colorborder);
    margin-right: 8px;
}

.col-portfolio {
    width: 47%;
}
