* {
    box-sizing: border-box;
}

:root { /*Définir des variables*/
    --colorbody: #fafdf7;
    --colorbrown: #6d383a;
    --colorgrey: #343536;
    --colordore: #e7ba7a;
    --colorgreylight: #e8e3e7;
    --colordorelight: #e7ba7a40;
    --colorgreen: #1f5e2f;
}

body {
    background-color: var(--colorbody);
    margin: 0;
    font-family: Arial;
    line-height: 1.5;
}

div.cover {
    background: url(cover_overlay.png) no-repeat center/100% 100%, url(cover.jpeg) no-repeat center/cover;
    height: 380px;
    position: relative;
    border-bottom: 2px var(--colorgrey) solid;
}

img.cover-profile {
    height: 120px;
    /*Centrer l'image*/
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 60px;
    border: 4px solid var(--colorbrown);
    border-radius: 70px 70px 70px 70px;
}

h1 {
    color: var(--colorbrown);
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.cover p {
    color: var(--colorgrey);
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

div.cover-contact {
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--colorbrown);
    padding-left: 8px;
}

div.cover-contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.cover-contact p:first-child { /*1er enfant <p>*/
    margin-bottom: 14px;
}

div.cover-contact * {
    color: var(--colorbrown);
    font-size: 14px;
}

a.contact-button {
    color: var(--colorbrown);
    border: 3px solid var(--colorbrown);
    padding: 8px 20px;
    text-decoration: none;
    background-color: var(--colorgreylight);
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
}

a.contact-button:hover { /*Si la souris survole le lien*/
    color: var(--colorgrey);
    border: 5px solid var(--colorgrey);
    font-weight: 900;

}

.section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

div.section-grise1 {
    background: url(triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--colordorelight);
    padding-bottom: 90px;
}

div.section-grise2 {
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--colordorelight);
    padding-top: 80px;
    border-bottom: 2px var(--colorborder) solid;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
    color: var(--colorgrey);
}

div.separateur {
    background-color: var(--colorgrey);
    height: 1px;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
}

div.section-grise1 p {
    font-size: 20px;
    color: var(--colorgrey);
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.col40 {
    width: 40%;
}

.col60 {
    width: 60%;
}

.float-right {
    float: right;
}

div.texte-avec-ligne-verticale {
    border-left: 4px solid var(--colorbrown);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}

div.texte-avec-ligne-verticale p {
    margin-top: 0;
}

div.barre_verticale {
    height: 60px;
    width: 4px;
    background-color: var(--colorbrown);
    margin-right: 8px;
}

.col-portfolio {
    width: 47%;
}

div.frame {
    margin: 30px 50px;
    padding: 20px 30px;
    background: linear-gradient(270deg, var(--colordore), var(--colorgreylight));
    box-shadow: 10px 10px 8px 8px rgba(109, 56, 58, 0.5);
    border-radius: 10px 80px 0px 80px;
}

p.frame-title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.hyperlink-change {
    background: linear-gradient(270deg, var(--colordore), var(--colorgreylight));
    border-radius: 30px;
    padding: 8px 20px;
    text-decoration: none;
    color: var(--colorgreen);
    font-weight: bolder;
    box-shadow: 4px 4px 8px grey;
}

.hyperlink-change:hover {
    color: var(--colorgreen);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.hyperlink-change:active {
    color: var(--colorbrown);
}

.hyperlink-change:focus {
    background-color: red;
}